<nav>
	<div class="container">
		<div class="row">
			<ul g-nav-menu="active" class="nav nav-pills">
				<li>
					<a href="#/home"><strong>Home</strong></a>
				</li>
				<li>
					<a href="#/vintage"><strong>Vintage Straps</strong></a>
				</li>
				<li class="dropdown">
					<a href="#/new"><strong>New Straps</strong></a>
<!-- 					<a class="dropdown-toggle" data-toggle="dropdown" href="#newstraps">
						<strong>New Straps <span class="caret"></span></strong>
					</a>
 					<ul class="dropdown-menu">
						<li>
							<a href="#/newstraps/guitar"><strong>Guitar &amp; Banjo</strong></a>
						</li>
						<li>
							<a href="#/newstraps/mandolin"><strong>Dobro &amp; Mandolin</strong></a>
						</li>
						<li>
							<a href="#/newstraps/options"><strong>Strap Options</strong></a>
						</li>
						<li>
							<a href="#/newstraps/prices"><strong>Prices &amp; Ordering Info</strong></a>
						</li>
					</ul> -->
				</li>
				<li>
					<a href="#/merch"><strong>Merchandise</strong></a>
				</li>
				<li>
					<a href="#/about"><strong>About</strong></a>
				</li>
				<li>
					<a href="#/testimonials"><strong>Testimonials</strong></a>
				</li>
				<li>
					<a href="#/links"><strong>Recommended Links</strong></a>
				</li>
			</ul>
		</div>
	</div>
</nav>
