#main_body {
	background-color: #69715C;
}
header div.container{
	padding: 20px 30px;
	background-color: #BBB;
	-moz-box-shadow: 5px 5px 5px #888888;
	box-shadow: 5px 5px 5px #888888;
}
header div.container small {
	font-style: italic;
}
nav div.container {
	background-color: #EEE;
}
nav ul.nav-pills li,a {
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: #666;
	color:#FFF;	
}
nav ul.nav-pills li:hover a {
	-moz-border-radius: 0px;
	border-radius: 0px;	
	background-color: #EEE;
	color: #428bca;
}
nav ul.nav-pills li a.active {
	-moz-border-radius: 0px;
	border-radius: 0px;	
	color: #428bca;
	background-color: #EEE;
}
div#page {
	background-color: #EEE;
}


.cnt-row {
	text-align: center;
}
.spc-row {
	margin-bottom: 15px;
}