#home_page div.head_line{
	margin: 40px 10px;
	font-style: italic;
	text-align: center;
}
#home_page div.content_section .thumbnail {
		position:relative;
		overflow:hidden;
		border: 0px none;
}
#home_page div.content_section .caption { 
	width: 100%;
	height: 100%;
	line-height: 100%;
	vertical-align: middle;
	position:absolute;
	top:0;
	right:0;
	background: rgba(0,0,0,0.75); 
	color: white; 
	padding: 15%;
	text-align: center;
	color: #FFF;
	z-index:2;
	border: 3px solid #666;
}
#home_page div.content_section .caption:hover {
	border-color: rgb(66, 139, 202);
}
