<!DOCTYPE html>
<html ng-app="sullysStrapsAdmin">
<head>
  <title>SullysStraps</title>
  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="main_body" ng-controller="MainCtrl">
    <div ng-include src="view.getView('adminNav')">
    </div>
    <div id="page" class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag "admin" %>
  </div>
</body>
</html>
